body
{
	background-color: aqua;
}

h3
{
	background-color: blanchedalmond;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	width: fit-content;
}

#output
{
	z-index: 10000000000000000000000000000000000000000000000000000000000000000000;
	margin-bottom: 30px;
}